.contact-form {
    width: 400px;
    font-family: "Beatrice";
  }
  
  .contact-form form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
  }
  
  .contact-form form input {
    width: 20rem;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(175, 169, 169);
  }

  @media only screen and (max-width: 480px) {
    .contact-form form {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      font-size: 16px;
    }
    .contact-form form input {
      width: 100%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 2px solid rgb(175, 169, 169);
    }
  
  }
  
  .contact-form form input:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
  
  .contact-form form textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(175, 169, 169);
  }
  
  .contact-form form textarea:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
  
  .contact-form form label {
    margin-top: 1rem;
  }
  
.contact-form .formsub_btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  width: 20vw;
  border-radius: 0px;
  margin-top:3vh;
  color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: url(/content/assets/cursors/windows95-pointer.png), auto;

} 

.formsub_btn:active {
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .formsub_btn {
    border-radius: 0px;
    padding: 0.25em 0.75em;
  }
}