
.name__wrap{
    height: 7rem;
    width: 100vw;
    border-bottom: 5px solid black;
    cursor: url(/content/assets/cursors/windows95-cursor.png),auto;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.name{
    font-family:"Beatrice";
    font-weight: 900;
    font-size: 100px;
    margin-top: -28px;
    margin-left: 15px ;
    user-select: none;
    overflow: hidden;
    cursor: url(/content/assets/cursors/windows95-cursor.png),auto;
    letter-spacing: -1px;
}

.title{
    font-size: 1rem;
    font-family: "Beatrice",sans-serif;
    box-sizing: border-box;
    position: absolute;
    top: 6rem;
    right: 2rem;
    line-height: 3rem;
    white-space: nowrap;
    font-weight: 500;
}

@media only screen and (max-width: 480px) {
    .name{
        font-family:"Clever";
        font-weight: 900;
        font-size: 50px;
        margin-top: 0px;
        margin-right: 0;
        margin-left: 60px ;
        user-select: none;
        overflow: hidden;
        text-shadow: 1px 1px 100px rgba(0,0,0,0);
    }
  }