.intro_wrap{
    background-color: rgb(255, 201, 0);
    cursor: url(/content/assets/cursors/windows95-cursor.png),auto;
    margin:0;
    padding:0;
    width: 100vw;
    height: 82vh;
    box-sizing: border-box;
    font-family: Beatrice,sans-serif;
    font-size: 20px;
}


.graphic{
    cursor: url(/content/assets/cursors/windows95-cursor.png),auto;
    position: relative;
    left: 19rem;
    margin-top: 15px;

}

.job_title{
    cursor: url(/content/assets/cursors/windows95-cursor.png),auto;
    width: 100vw;
    height: 30vh;
    margin-top: 20px;
    background-color: black;
}

@media (max-width: 900px) {
    .intro_wrap {
      height: 100vh; /* Stack the sections vertically on smaller screens */
    }

  }
