.tech-box {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: black;
  font-family: "Beatrice";
}

.tech-box div {
  display: grid;
  height: 150px;
  place-items: center;
  width: 148px;
}

.tech-box p{
    margin-bottom: 10px;
}

svg{
    margin-top: 20px;
}


.circle .js{
    background: #fffb00;
}
.circle .css{
    background: #47b5ffe6;
}
.circle .html{
    background: #f86c30e6;
}
.circle .react{
    background: #5fefffe6;
}
.circle .node{
    background: #31bf63e6;
}
.circle .mon{
    background: #60ff11e6;
}
.circle .fire{
    background: #ffcc00;
}
.circle .c{
    background: #ffffff;
}
.circle .cpp{
    background: #1abfe9;
}
.circle .java{
    background: #ff9d00;
}
.circle .mongoose{
    background: #f52172;
}
.circle .express{
    background: #3ec931;
}
.circle .prisma{
    background: #88ff7d;
}
.circle .docker{
    background: #0080ff;
}
.circle .cloudflare{
    background: #ebeaa9;
}
.circle .nextjs{
    background: #ffffff;
}
.circle .mysql{
    background: #ff7575;
}
.circle .postgresql{
    background: #02abd5;
}
.circle .github{
    background: #f79f47;
}
.circle .postman{
    background: #ff8000;
}
