.contactWrapper{
    margin-top: 5vh;
}

.contactFormWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 5px solid black;
    gap: 10px;
}

